html,body{
	height:100%;
	width:100%;
}
.container{
	width: 66vw;
	margin: 0;
	padding: 0;
}
.mainWrapper{
	background-color: white;
	min-height: 100%;
}
.headerBar{
	border:1px solid black;
	height:70px;
	background-color: #C2EBFF;
	font-color:black;
}
.bodyWrapper{
	border:0px solid black;
	background-color: white;
	 overflow:auto;
	min-height:600px;
}
.footer{
	border:1px solid black;
	height:60px;
}
.header{
	height:70px;
}
.border{
	border:0px solid black;
}
.border-dashed{
	border:1px dashed black;
}
.noPadding{
	padding-left: 0px;
	padding-right: 0px;
}
.menuLinks{
	font-color: black;

	margin-right: 10px;
	margin-left:10px;
	width:120px;
	text-align: center;
	display: inline-block;
	line-height: 70px;
	}
.logoImg{
	margin-top: 0px;
	height: 70px;
}
.menuSm{
	width:100%;
	text-align: center;
	font-size: 18px;
	margin-top: 20px;
}
.galleryBody{
	padding-bottom: 40px;
	width: 100%;
	float:right;
	}

.galleryIMG{

	height:200px;
	margin-bottom: 15px;
	/*border:1px solid #C2EBFF;*/
	width:200px;
}
.footerbg{
	background-color: #999;
}
footer{
	text-align: center;
	padding-top: 20px;
	background-color: #999;
	padding-bottom: 20px;
}

.usericon{
	height: 40px;
	width: 40px;
}

.katie{
	height: 40px;
	width: 40px;
}


.nav-items {
	float: right;
}

.userSection {
	width: 200px;
}

.userSection img, .userSection h2{
	display: inline-block;
}

.shopping{
	padding-top: 0px;
}

.containerteleport{
	float: right;
	width: 30vw;
margin-top: 30px;
background-color: #008FB2;
}

.containerconvobox{
	float: middle;
	width: 30vw;
margin-top: 0px;
background-color: white;
float:top;
height: 350px;
border:1px solid #C2EBFF;
}

.convoboxcontent{
	float:bottom;
	margin-top:100px;

}

.convoboxcontent2{
	float-bottom;
	margin-top:175px;
}

.jumbotron{
	background-color:white;
}

.listofconversations{
	height:100px;
	margin-bottom: 15px;
	border:1px solid #C2EBFF;
	width:400px;
}

.background{
	 position: relative;
    background: #000 url("ocean.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;



}

h1{
	position: absolute;
	top:100px;
	left:0;
	color:white;
}
h4{
	position: absolute;
	top:500px;
	left:0;
	color:white;
}
